@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?uieano');
	src:  url('../fonts/icomoon.eot?uieano#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?uieano') format('truetype'),
		url('../fonts/icomoon.woff?uieano') format('woff'),
		url('../fonts/icomoon.svg?uieano#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-messenger-1:before {
content: "\e929";
}
.icon-odnoklassniki-1:before {
content: "\e92a";
}
.icon-phone-1:before {
content: "\e92b";
}
.icon-Vector:before {
content: "\e92c";
}
.icon-viber-3:before {
content: "\e92d";
}
.icon-vk-4:before {
content: "\e92e";
}
.icon-whatsapp-1-1:before {
content: "\e92f";
}
.icon-arrow-long-down:before {
content: "\e927";
}
.icon-arrow-long-up:before {
content: "\e928";
}
.icon-construction:before {
content: "\e91f";
}
.icon-construction-1:before {
content: "\e920";
}
.icon-contact:before {
content: "\e921";
}
.icon-factory:before {
content: "\e922";
}
.icon-fast:before {
content: "\e923";
}
.icon-home:before {
content: "\e924";
}
.icon-lightbulb:before {
content: "\e925";
}
.icon-price-tag:before {
content: "\e926";
}
.icon-arrow-small-left:before {
content: "\e91c";
}
.icon-arrow-small-right:before {
content: "\e91d";
}
.icon-star:before {
content: "\e91e";
color: #ffc107;
}
.icon-arrow-left:before {
content: "\e900";
}
.icon-arrow-long-left:before {
content: "\e901";
}
.icon-arrow-long-right:before {
content: "\e902";
}
.icon-arrow-right:before {
content: "\e903";
}
.icon-checklist:before {
content: "\e904";
}
.icon-checklist-1:before {
content: "\e905";
}
.icon-delete:before {
content: "\e906";
}
.icon-help:before {
content: "\e907";
}
.icon-house-repair:before {
content: "\e908";
}
.icon-instagram:before {
content: "\e909";
}
.icon-list-2:before {
content: "\e90a";
}
.icon-location-pin:before {
content: "\e90b";
}
.icon-mail:before {
content: "\e90c";
}
.icon-phone-call:before {
content: "\e90d";
}
.icon-phone-call-1:before {
content: "\e90e";
}
.icon-pin:before {
content: "\e90f";
}
.icon-play:before {
content: "\e910";
}
.icon-ref:before {
content: "\e911";
}
.icon-shipped:before {
content: "\e912";
}
.icon-sketch:before {
content: "\e913";
}
.icon-sketch-1:before {
content: "\e914";
}
.icon-telegram:before {
content: "\e915";
}
.icon-toolbox:before {
content: "\e916";
}
.icon-viber:before {
content: "\e917";
}
.icon-vk:before {
content: "\e918";
}
.icon-wallet:before {
content: "\e919";
}
.icon-warehouse:before {
content: "\e91a";
}
.icon-whatsapp:before {
content: "\e91b";
}
.icon-plus:before {
content: "\ea0a";
}
.icon-minus:before {
content: "\ea0b";
}
.icon-cross:before {
content: "\ea0f";
}
