$mainColor: #0043EC;
a {
    &:hover {
        color: $mainColor!important;
    }
}
b {
    font-weight: bold;
}




.bg-main-color {
	background-color: $mainColor;
}
.text-tr-unset {
	text-transform: unset!important;
}
.font-normal {
	font-weight: normal!important;
}
.font-500 {
	font-weight: 500!important;
}
.font-10 {
	font-size: 10px!important;
	line-height: 12px!important;
}
.font-12 {
	font-size: 12px!important;
	line-height: 14px!important;
}
.font-14 {
	font-size: 14px!important;
	line-height: 16px!important;
}
.font-16 {
	font-size: 16px!important;
	line-height: 18px!important;
}
.font-18 {
	font-size: 18px!important;
	line-height: 20px!important;
}
.font-20 {
	font-size: 20px!important;
	line-height: 22px!important;
}
.font-22 {
	font-size: 22px!important;
	line-height: 24px!important;
}
.font-24 {
	font-size: 24px!important;
	line-height: 26px!important;
}
.font-25 {
    font-size: 25px!important;
	line-height: 27px!important;
}
.font-30 {
	font-size: 30px!important;
	line-height: 32px!important;
}
.font-32 {
	font-size: 32px!important;
	line-height: 34px!important;
}
.font-34 {
	font-size: 34px!important;
	line-height: 36px!important;
}
.font-36 {
	font-size: 36px!important;
	line-height: 36px!important;
}
.font-48 {
	font-size: 48px!important;
	line-height: 50px!important;
}
.font-64 {
	font-size: 64px!important;
	line-height: 68px!important;
}
.font-70 {
	font-size: 70px!important;
	line-height: 74px!important;
}
.font-14-18 {
	font-size: 14px!important;
	line-height: 16px!important;
	@media (min-width: 992px) {
		font-size: 18px!important;
		line-height: 20px!important;
	}
}
.font-18-24 {
	font-size: 18px!important;
	line-height: 20px!important;
	@media (min-width: 992px) {
		font-size: 24px!important;
		line-height: 26px!important;
	}
}
.font-22-36 {
	font-size: 22px!important;
	line-height: 24px!important;
	@media (min-width: 992px) {
		font-size: 36px!important;
		line-height: 38px!important;
	}
}
.font-22-48 {
	font-size: 22px!important;
	line-height: 24px!important;
	@media (min-width: 992px) {
		font-size: 48px!important;
		line-height: 50px!important;
	}
}
.color-main {
	color: $mainColor!important;
}
.color-000000 {
	color: #000!important;
}
.mb-30-lg-160 {
	margin-bottom: 30px!important;
	@media (min-width: 992px) {
		margin-bottom: 160px!important;
	}
}
.pt-80 { padding-top: 80px!important; } 
.pt-90 { padding-top: 90px!important; }

.pt-40-lg-80 {
	padding-top: 40px!important;
	@media (min-width: 992px) {
		padding-top: 80px!important;
	}
}
.pb-100 { padding-bottom: 100px!important; }
.pb-30-lg-100 {
	padding-bottom: 30px!important;
	@media (min-width: 992px) {
		padding-bottom: 100px!important;
	}
}
.pb-30-lg-130 {
	padding-bottom: 30px!important;
	@media (min-width: 992px) {
		padding-bottom: 130px!important;
	}
}
.pb-45-lg-175 {
	padding-bottom: 45px!important;
	@media (min-width: 992px) {
		padding-bottom: 175px!important;
	}
}
.pb-45-lg-210 {
	padding-bottom: 45px!important;
	@media (min-width: 991px) {
		padding-bottom: 210px!important;
	}
}
.pb-50-lg-100 {
	padding-bottom: 50px!important;
	@media (min-width: 992px) {
		padding-bottom: 100px!important;
	}
}
.pb-50-lg-125 {
	padding-bottom: 50px!important;
	@media (min-width: 992px) {
		padding-bottom: 125px!important;
	}
}


