.thm-btn {
    position: relative;
    padding-right: 80px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    i {
        position: absolute;
        top: 50%;
        right: 37px;
        transform: translateY(-50%);
    }
    &.thm-btn-only-white {
        color: #000;
        background: #fff;
        &:hover {
            color: #000!important;
        }
    }
    &.thm-bg2 {
        box-sizing: border-box;
    }
    &.thm-btn_blue {
        &:hover {
            color: $mainColor!important;
        }
        &:focus {
            color: $mainColor;
        }
    }
    &.bg-yellow {
        border: 2px solid #ffbf00;
        background: #FFBF00;
        color: #000;
    }
    &:hover {
        color: #fff!important;
    }
}