<section>
	<div class="w-100 pt-10-lg-100 pb-100 position-relative">
		<div class="container order-2">
			<div class="about-wrap style2 w-100">
				<div class="row justify-content-center">
					<div class="col-md-5 col-sm-12 col-lg-5 order-2 order-lg-1 mt-lg-5">
						<div class="position-relative w-100 pt-50 mt-lg-3">
							<img data-src="images/calc.png" class="position-absolute calcimg d-none d-lg-block lazyload">
							include block-calc.pug
						</div>
						<div class="row pt-50">
							<div class="col-4 col-lg-12 text-center pb-3">
								<img class="lazyload" data-src="images/dir.png">
							</div>
							<div class="col-8 col-lg-12 text-lg-center">
								<p class="font-14 color-000000 px-lg-3">Уважаемые посетители! Мы рады приветствовать Вас на нашем сайте. Здесь вы можете легко и быстро заказать нашу продукцию. Если у Вас возникнут вопросы, обращайтесь за консультацией. Надеемся на плодотворное сотрудничество.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-4 col-lg-4 text-center">
								<img class="lazyload" data-src="images/podps.png">
							</div>
							<div class="col-8 col-lg-8 dir">
								<h4 class="font-14 color-000000 pt-3">Камиль Богданов, директор</h4>
							</div>
						</div>
					</div>
					<div class="col-md-7 col-sm-12 col-lg-7 d-none d-lg-block order-lg-2">
						<div class="about-desc w-100 d-none d-sm-block">
							<h2 class="mb-0 font-34 color-000000"><b>Каталог газобетонных блоков</b> <strong class="thm-clr font-34">ПОРАБЛОК</strong></h2>
						</div>
						<div class="d-none d-sm-block">
							-for(let i = 0; i < 2; i++)
								<div class="serv-wrap w-100 pt-50">
									<div class="row">
										<div class="col-lg-5">
											<img class="lazyload" data-src="images/product.png">
										</div>
										<div class="col-lg-7">
												<h3 class="title">Газобетонный стеновой блок</h3>
												<div class="price1 thm-clr font-24"><strong>2 780</strong> ₽/м3</div>
												<div class="serv-box w-100">
													i(class="icon-toolbox font-48 color-main")
													<div class="serv-box-inner">
														<h4 class="mb-0 font-16 color-000000"><b>Назначение</b></h4>
														<p class="mb-0 color-000000 pr-lg-3">Для возведения стен в квартире или доме</p>
													</div>
												</div>						
											
												<div class="serv-box w-100 pt-4">
													i(class="icon-sketch font-48 color-main")
													<div class="serv-box-inner">
														<h4 class="mb-0">Параметры</h4>
														<p class="mb-0">
															<ul>
																<li>Длина<br>625 мм</li>
																<li>Высота<br>250 мм</li>
																<li>Ширина<br>300 мм</li>
															</ul>
														</p>
													</div>
												</div>
												div(class="d-flex justify-content-end")
													<a href="#" class="thm-btn thm-bg text-uppercase mt-3 " >
														|Узнать цену с доставкой
														<i class="icon-arrow-long-right font-30"></i>
													</a>
										</div>
									</div>
								</div>
						</div>
					</div>
					div(class="col-12 order-lg-1 order-lg-3 pb-lg-5 pt-lg-5 mt-lg-5")
						<div class="about-desc w-100 d-lg-none">
							<h2 class="mb-0 font-22 color-000000 px-4"><b>Каталог газобетонных блоков</b> <strong class="thm-clr font-22">ПОРАБЛОК</strong></h2>
						</div>
						<div class="shop-wrap w-100">
							<div class="row">
								-for(let i = 0; i < 8; i++)
									<div class="col-6 col-md-4 col-sm-6 col-lg-3">
										<div class="shop-box w-100">
											<div class="shop-img w-100 position-relative overflow-hidden">
												<img class="img-fluid w-100 lazyload" data-src="images/product.png" alt="Shop Image 1">
												<a href="#">Подробнее</a>
											</div>
											<div class="shop-info w-100">
												<h3 class="title"><a href="#">U-образные газобетонные блоки</a></h3>
												div(class="d-flex justify-content-center")
													<p class="d-flex align-items-center"><i class="icon-sketch font-18 color-main mr-3"></i> 625мм x 250мм x 300мм</p>
												<div class="shop-info-bottom d-flex flex-wrap justify-content-end w-100">	
													<span class="price thm-clr d-flex align-items-center">
														<ins class="font-18 color-main price_now">2 190 ₽/м3</ins>
														<del class="price_old pb-2">2 390 ₽/м3</del>
													</span>
												</div>
											</div>
										</div>
									</div>
							</div>
							<div class="row pt-50">
								<div class="col-lg-12 text-center">
									<a href="#" class="thm-btn thm-bg text-uppercase" >Перейти в каталог<i class="icon-arrow-long-right font-30"></i></a>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
</section>