<section>
	<div class="w-100 gray-layer mt-50 pt-60 pb-60 opc1 overflow-hidden position-relative">
		<div class="fixed-bg zoom-anim back-blend-screen patern-bg gray-bg"></div>
		<div class="container">					
			div(class="row justify-content-center pb-4")
				div(class="col-10 pb-lg-5")
					<h2 class="mb-0 font-22-48 text-center">Получите бесплатный типовой проект под ваш бюджет</h2>
			<div class="row">
				div(class="col-12")
					div(class="view-slider")
						-let arrTitile = ["Эконом", "Стандарт", "Премиум"]
						-let arrImg1 = ["images/project1.jpg", "images/project2.jpg", "images/project3.jpg"]
						each item, index in ["До 1 000 000 рублей", "От 1 000 000 рублей<br>До 2 000 000 рублей", "От 2 000 000 рублей"]
							<div class="position-relative px-3">
								<div class="view view-first">  
									img(class="lazyload d-block m-0 m-auto" data-src=arrImg1[index])
									<div class="mask">  
										h2()
											= arrTitile[index]
										<p>Проект дома по типу “Эконом”, площадью от 50 до 100 кв.м. Проект дома по типу “Стандарт”, площадью от 50 до 100 кв.м. Проект дома по типу “Стандарт”, площадью от 50 до 100 кв.м.</p>  
										<a href="#" class="info ml-3 p-0">Подробнее</a>  
									</div>
								</div>
								<div class="plashka_proj">
									h2(class="title")
										= arrTitile[index]
									if index == 1
										p( class="description")
											| От 1 000 000 рублей<br>До 2 000 000 рублей
									else 
										p( class="description")
											= item
								</div>
							</div>
			</div>
			<div class="row pt-50 justify-content-center form2">
				<div class="col-lg-6 pb-4">
					span(class="font-18 color-000000 text-center")
						| Оставьте заявку и мы пришлем вам несколько вариантов
				</div>						
			</div>
			<div class="row justify-content-center align-items-start pb-30">
				<div class="col-lg-3">
					<p class="font-16 color-000000"><strong>Через мессенджеры:</strong></p>
					<p class="font-12 color-000000 mb-5 font-italic">Мы пришлем вам ссылку на скачивание наших проектов в удобный вам месенджер</p>
					p(class="font-12 color-000000 pr-lg-5 font-italic")
						| Или оставьте почту, и мы вышлем вам на почту ссылку для скачивания наших проектов
				</div>
				<div class="col-lg-3 d-flex align-items-center">
					-let arrCsocial = ["whatsapp", "viber", "telegram", "instagram"]
					each item,index in ["icon icon-whatsapp", "icon icon-viber", "icon icon-telegram", "icon icon-instagram"]
						- let cl = "soc-wrapper soc-wrapper_" + arrCsocial[index]
						a(class="social-item social-item_border mr-2" href="#" target="_blank" rel="nofollow")
							span( class=cl )
								i( class=item )
				</div>
			</div>
			<form class="form3">
				<div class="row justify-content-center pb-30">
					<div class="col-lg-3">
						<div class="field-box w-100">												
							<input type="email" placeholder="E-mail">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="field-box w-100">												
							<input type="tel" placeholder="Телефон">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<button class="thm-btn thm-bg text-uppercase" type="submit">Отправить<i class="icon-arrow-long-right font-30"></i></button>
					</div>
				</div>
			</form>	
		</div>
	</div>
</section>