<section class="area-request-form">
	<div class="w-100 ">
		<div class="container">
			<div class="getin-touch-wrap overlap-99 brd-rd5 style2 thm-layer opc8 w-100 position-relative">
				<div class="fixed-bg" style="background-image: url(images/parallax2.jpg);"></div>
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-3">
						<img data-src="images/muzik.png" class="position-absolute img_muzik lazyload">
					</div>
					<div class="col-md-7 col-sm-12 col-lg-5">
						<div class="getin-touch-title w-100">
							<span class="text-white d-block font-16">Давайте сделаем расчёт вашего проекта</span>
							<h3 class="mb-0 text-white font-24">Оставьте контакты и мы сделаем вам персональное предложение</h3>
						</div>
					</div>
					<div class="col-md-5 col-sm-12 col-lg-4">
						<div class="getin-touch-btn text-right">
							<a class="thm-btn bg-color1 thm-btn-only-white text-uppercase" href="#" title="" data-toggle="modal" data-target="#exampleModal">
								| Заполнить заявку
								<i class="icon-arrow-long-right color-000000 font-30"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>