<section class="pt-100 pb-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="mb-0 zag font-36 color-000000">
					b()
						| Наши проекты
				</h2>
			</div>
		</div>
		<div class="row tabproekt pt-50">
			<div class="col-lg-12">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#detail101">Малоэтажное строительство</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#detail102">Многоэтажное строительство</a></li>							
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="detail101">
						<div class="shop-detail-inner w-100">
							<div class="row pt-50">
								div(class="col-12")
									div(class="tabproekt-slider")
										-for (let i = 0; i < 2; i++)
											div()
												div(class="row")
													div(class="col-12 col-lg-6")
														div(class="shop-detail-caro")
															-for(let k = 0; k < 8; k++)
																div()
																	a( href="images/img102.jpg" data-fancybox="gallery")
																		img(class="img-fluid" src="images/img102.jpg" alt="Shop Detail Image 1")
														div(class="shop-detail-nav-caro d-none d-lg-block")
															-for(let k = 0; k < 8; k++)
																	div(class="px-1")
																		img(class="img-fluid m-0" src="images/img101.jpg" alt="Shop Detail Image 2")
													div(class="col-12 col-lg-6 pt-3 pt-lg-0")
														<div class="shop-detail-info m-0 w-100">
															div(class='d-none d-lg-block')
																span(class="font-14 color-main mb-3 d-block")
																	| многоэтажное строительство
																<h2 class="font-24 mb-1 color-000000">ЖК Манхэтен</h2>										
																<div class="price-stock d-flex flex-wrap justify-content-between align-items-center w-100 pb-2">
																	<span class="stock">Челябинск</span>
																</div>
																<p class="d-flex align-items">
																	span(class="icon-wrapper mr-2")
																		i(class="icon-checklist")
																	| Общая площадь застройки <span class="color-000000 ml-1">23000 м2</span>
																</p>
																<p class="d-flex align-items">
																	span(class="icon-wrapper mr-2")
																		i(class="icon-checklist")
																	|Срок поставки блоков <span class="color-000000 ml-1">6 месяцев</span>
																</p>
																<a href="#" class="ssil pt-4 d-flex align-items-center">
																	<span class="text mr-2">Отзыв клиента</span>
																	<i class="icon-arrow-small-right font-10 color-main"></i>
																</a>
																<div class="next_obj">
																	<img src="images/img103.jpg" alt="">
																	<a href="#" class="ssil tabproekt-slider_btn-next">
																		<span class="text mr-2 color-main">Следующий объект</span>
																		<i class="icon-arrow-small-right font-10 color-main"></i>
																	</a>
																</div>
															div(class="d-block d-lg-none")
																div(class="d-flex align-items-start mb-4")
																	i(class="icon-house-repair font-70 color-main")
																	div(class="pl-3")
																		b(class="block font-18 color-000000 mb-1")
																			| Объект
																		span(class="d-block")
																			| Короткое наименование объекта и например адрес расположения.
																div(class="d-flex align-items-start mb-4")
																	i(class="icon-ref font-70 color-main")
																	div(class="pl-3")
																		b(class="block font-18 color-000000 mb-1")
																			| Задача
																		span(class="d-block")
																			| Описание той задачи, которая стояла перед организацией.
																div(class="d-flex align-items-start mb-4")
																	i(class="icon-checklist font-70 color-main")
																	div(class="pl-3")
																		b(class="block font-18 color-000000 mb-1")
																			| Результат
																		span(class="d-block")
																			| Описание решения задачи, которая стояла перед организацией.
														</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="detail102">
						<div class="shop-detail-inner w-100">
							<div class="row pt-50">
								div(class="col-12")
									div(class="tabproekt-slider")
										-for (let i = 0; i < 2; i++)
											div()
												div(class="row")
													div(class="col-12 col-lg-6")
														div(class="shop-detail-caro")
															-for(let k = 0; k < 8; k++)
																div()
																	a( href="images/img102.jpg" data-fancybox="gallery")
																		img(class="img-fluid" src="images/img102.jpg" alt="Shop Detail Image 1")
														div(class="shop-detail-nav-caro d-none d-lg-block")
															-for(let k = 0; k < 8; k++)
																	div(class="px-1")
																		img(class="img-fluid m-0" src="images/img101.jpg" alt="Shop Detail Image 2")
													div(class="col-12 col-lg-6 pt-3 pt-lg-0")
														<div class="shop-detail-info m-0 w-100">
															div(class='d-none d-lg-block')
																span(class="font-14 color-main mb-3 d-block")
																	| многоэтажное строительство
																<h2 class="font-24 mb-1 color-000000">ЖК Манхэтен</h2>										
																<div class="price-stock d-flex flex-wrap justify-content-between align-items-center w-100 pb-2">
																	<span class="stock">Челябинск</span>
																</div>
																<p class="d-flex align-items">
																	span(class="icon-wrapper mr-2")
																		i(class="icon-checklist")
																	| Общая площадь застройки <span class="color-000000 ml-1">23000 м2</span>
																</p>
																<p class="d-flex align-items">
																	span(class="icon-wrapper mr-2")
																		i(class="icon-checklist")
																	|Срок поставки блоков <span class="color-000000 ml-1">6 месяцев</span>
																</p>
																<a href="#" class="ssil pt-4 d-flex align-items-center">
																	<span class="text mr-2">Отзыв клиента</span>
																	<i class="icon-arrow-small-right font-10 color-main"></i>
																</a>
																<div class="next_obj">
																	<img src="images/img103.jpg" alt="">
																	<a href="#" class="ssil tabproekt-slider_btn-next">
																		<span class="text mr-2 color-main">Следующий объект</span>
																		<i class="icon-arrow-small-right font-10 color-main"></i>
																	</a>
																</div>
															div(class="d-block d-lg-none")
																div(class="d-flex align-items-start mb-4")
																	i(class="icon-house-repair font-70 color-main")
																	div(class="pl-3")
																		b(class="block font-18 color-000000 mb-1")
																			| Объект
																		span(class="d-block color-000000 font-18")
																			| Короткое наименование объекта и например адрес расположения.
																div(class="d-flex align-items-start mb-4")
																	i(class="icon-ref font-70 color-main")
																	div(class="pl-3")
																		b(class="block font-18 color-000000 mb-1")
																			| Задача
																		span(class="d-block color-000000 font-18")
																			| Описание той задачи, которая стояла перед организацией.
																div(class="d-flex align-items-start mb-4")
																	i(class="icon-checklist font-70 color-main")
																	div(class="pl-3")
																		b(class="block font-18 color-000000 mb-1")
																			| Результат
																		span(class="d-block color-000000 font-18")
																			| Описание решения задачи, которая стояла перед организацией.
														</div>
							</div>
						</div>
					</div>								
				</div>
			</div>
		</div>
	</div>
</section>