<section>
	<div class="w-100 pt-100 pb-100 position-relative">
		<div class="container">
			<div class="about-wrap w-100">
				<div class="row justify-content-center">
					<div class="col-md-12 col-sm-12 col-lg-10">
						<div class="about-content-wrap w-100">
							<div class="row">
								<div class="col-12">
									h3(class="font-18-24 text-center text-uppercase color-000000 mb-5")
										| ПОЧЕМУ СТОИТ КУПИТЬ У НАС
								</div>
								<div class="col-12 col-lg-4 d-flex align-items-start mb-4">
									<i class="icon-shipped font-70 color-main"></i>
									<div class="pl-3">
										<b class="block font-18 color-000000 mb-1">ДОСТАВКА ЗА 24 ЧАСА</b>
										<span class="d-block color-000000 font-18">Мы осуществляем отгрузку товара в кратчашие сроки</span>
									</div>
								</div>
								<div class="ol-12 col-lg-4 d-flex align-items-start mb-4">
									<i class="icon-wallet font-70 color-main"></i>
									<div class="pl-3">
										<b class="block font-18 color-000000 mb-1">ГАРАНТИЯ ЛУЧШЕ ЦЕНЫ</b>
										<span class="d-block color-000000 font-18">Нашли дешевле, просто позвоните нам и мы предложим лучшую цену</span>
									</div>
								</div>
								<div class="ol-12 col-lg-4 d-flex align-items-start mb-4">
									<i class="icon-warehouse font-70 color-main"></i>
									<div class="pl-3">
										<b class="block font-18 color-000000 mb-1">БЕСПЛАТНОЕ ХРАНЕНИЕ</b>
										<span class="d-block color-000000 font-18">Мы осуществим хранение на нужный для вас срок.</span>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>