<section class="">
	<div class="w-100 thm-layer opc1 overflow-hidden position-relative">
		<div class="parallax-bg zoom-anim back-blend-multiply patern-bg thm-bg" style="background-image: url(images/pattern-bg1.png);"></div>
		<div class="about_kont">
			<div class="about1 pr-lg-4">
				<div class="row pt-50">
					<div class="col-md-12 col-sm-12 col-lg-12">
						<div class="sec-title title-with-shape2 w-100 d-flex align-items-start m-0">
							img(class="lazyload mr-5" data-src="images/title-shp3.png" alt="img")
							<div class="">
								<span class="d-block text-white">о нас</span>
								<h3 class="mb-0 text-white">О нашем заводе</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row pt-30 pb-5">
					<div class="col-lg-12">
						<p class="text-white"> Завод «ПОРАБЛОК» - одно из самых современных предприятий по производству стеновых блоков из автоклавного газобетона. Вся продукция производится по немецкой технологии из отборного сырья. Завод оснащен автоматизированными линиями производства немецкой фирмы WEHRHAHN GmbH, Германия, г. Дельменхорст.
						</p>
						<p class="text-white"> Завод «ПОРАБЛОК» - одно из самых современных предприятий по производству стеновых блоков из автоклавного газобетона. Вся продукция производится по немецкой технологии из отборного сырья. Завод оснащен автоматизированными линиями производства немецкой фирмы WEHRHAHN GmbH, Германия, г. Дельменхорст.
						</p>						
					</div>
					div(class="col-10 d-flex align-items-start")
						<i class="icon-shipped font-70 text-white"></i>
						<div class="pl-3">
							<b class="block font-18 text-white mb-1">Задача</b>
							<span class="d-block text-white">Описание той задачи, которая стояла перед организацией.</span>
						</div>						
				</div>
			</div>
			<div class="about2">
				<div class="post-detail-gallery-video-box position-relative w-100">
					<a class="rounded-circle spinner spinner-blue" href="https://www.youtube.com/embed/BQml6wv3Bb4" data-fancybox title="">
						<i class="icon-play"></i>
					</a>
					<img class="img-fluid w-100 lazyload" data-src="images/komanda.jpg" alt="Detail Gallery Video">
				</div>
			</div>
		</div>
	</div>
</section>