<div class="calc text-center">
	<h3 class="pb-30">Калькулятор расчета</h3>
	<div class="row">
		<div class="col-lg-6 pr-lg-2">
			<div class="field-box w-100">												
				<input type="text" placeholder="Длина стен (м)">
			</div>
		</div>											
		<div class="col-lg-6 pl-lg-2">
			<div class="field-box w-100">												
				<input type="text" placeholder="Площадь окон (м2)">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 pr-lg-2">
			<div class="field-box w-100">												
				<input type="text"  placeholder="Высота стен (м)">
			</div>
		</div>											
		<div class="col-lg-6 pl-lg-2">
			<div class="field-box w-100">
				<select>
					<option>Толщина блока</option>
					<option>Параметр 1</option>
					<option>Параметр 2</option>
					<option>Параметр 3</option>
				</select>													
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 pr-lg-2">
			<div class="field-box w-100">												
				<select>
					<option>Толщина армирования</option>
					<option>Параметр 1</option>
					<option>Параметр 2</option>
					<option>Параметр 3</option>
				</select>
			</div>
		</div>											
		<div class="col-lg-6 pl-lg-2">
			<div class="field-box w-100">												
				<select>
					<option>Тип блока</option>
					<option>Параметр 1</option>
					<option>Параметр 2</option>
					<option>Параметр 3</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row pt-50">
		<div class="col-lg-12 text-center ">
			<a href="#" class="thm-btn thm-bg text-uppercase" >Рассчитать<i class="icon-arrow-long-right font-30"></i></a>
		</div>
	</div>
</div>