<footer>
	<div class="w-100 bg-color5 pt-195 pb-10 position-relative">
		
		<div class="container">
			<div class="footer-data w-100">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-lg-3">
						<div class="widget w-100">
							<div class="logo w-100">
								<a href="#" title="Home">
									<img class="img-fluid lazyload" data-src="images/logo-white-text.svg" alt="Logo">
								</a>
							</div>
							<p class="mb-0 lin18 text-white font-14">ТД «Пораблок» удовлетворит ваши потребности связанные с приобретением газобетонных блоков, качественно и быстро. Вся продукция сертифицированна.</p>
							<div class="social-links2 d-inline-block">
								<a href="#" title="Instagram" target="_blank"><i class="icon-vk"></i></a>
								<a href="#" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
							</div>
						</div>
					</div>
					
					<div class="col-md-12 col-sm-12 col-lg-6">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-lg-6">
								<div class="widget w-100">
									<h3>О компании</h3>
									<ul class="mb-0 list-unstyled w-100">
										<li><a class="text-white" href="#" title="">Наша продукция</a></li>
										<li><a class="text-white" href="#" title="">Сертификаты</a></li>
										<li><a class="text-white" href="#" title="">Команда</a></li>
										<li><a class="text-white" href="#" title="">О компании</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-lg-6">
								<div class="widget w-100">
									<h3>Продукция</h3>
									<ul class="mb-0 list-unstyled w-100">
										<li><a class="text-white" href="#" title="">Блоки</a></li>
										<li><a class="text-white" href="#" title="">Сопутствующие товары</a></li>												
									</ul>
								</div>
							</div>
							
						</div>
					</div>

					<div class="col-lg-3">
						<div class="phone2">
							<a href="tel:88005005774">8 800 500 57-74</a>
							<p class="text-white">звонок бесплатный</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright">
	<div class="container">
		<p class="mb-0 text-white">2020 - завод пораблок, все права защищены</p>
	</div>
</div>