<header class="stick style2 w-100">
	<div class="topbar bg-color5 w-100">
		<div class="container">
			<div class="topbar-inner d-flex flex-wrap justify-content-between align-items-center w-100">
				<ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
					<li class="d-flex align-items-center font-13 text-uppercase text-white">
						<i class="icon-pin font-18 text-white"></i>
						|	Челябинск
					</li>
					<li class="d-flex align-items-center">
						<i class="icon-mail font-18 text-white"></i>
						<a class="text-white" href="mailto:info@mail.ru" title="">Email: info@mail.ru</a>
					</li>
				</ul>
				<ul class="topbar-links mb-0 list-unstyled d-inline-flex">
					<li><a href="#" class="font-14 font-500 text-white" download>Оптовым покупателям</a></li>
					<li><a href="#" class="font-14 font-500 text-white" download>Скачать прайс-лист</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="logo-info-bar-wrap w-100">
		<div class="container">
			<div class="logo-info-bar-inner w-100 d-flex flex-wrap justify-content-between align-items-center">
				<div class="logo-social d-inline-flex flex-wrap justify-content-between align-items-center">
					<div class="logo">
						<a href="#" title="Главная">
							<img class="lazyload img-fluid" data-src="images/logo-white.png" alt="Logo" srcset="images/logo-white.png">
						</a>
					</div>
					<div class="social-links">
						<a href="#" title="Vkontakte" target="_blank"><i class="icon-vk"></i></a>
						<a href="#" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>								
					</div>
				</div>
				<div class="top-info-wrap d-inline-flex flex-wrap justify-content-between align-items-center">
					<div class="add-cart position-relative pr-5 mr-5">
						<a href="#" title="">
							i(class="icon-list-2 font-32 color-main")
							b(class="font-12 text-white")
								| Смета
							<span class="d-block text-white font-12">Выбрано 0 позиций</span>
						</a>
					</div>
					<a class="call-us" href="tel:88005005774">
						<i class="icon-phone-call font-32 color-main"></i>
						<span class="font-14 text-white">Звонок бесплатный</span>
						<b class="font-14 text-white">8 800-500-57-74</b>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="menu-wrap">
		<div class="container">
			<nav class="d-inline-flex justify-content-between align-items-center w-100">
				<div class="header-left">
					<ul class="mb-0 list-unstyled d-inline-flex">								
						<li class="active"><a href="#" title="">Главная</a></li>
						<li><a href="#" title="">Каталог</a></li>
						<li><a href="#" title="">Цены</a></li>
						<li><a href="#" title="">О заводе</a></li>
						<li><a href="#" title="">Как строить</a></li>
						<li><a href="#" title="">Клиентам</a></li>
						<li><a href="#" title="">Доставка</a></li>
						<li><a href="#" title="">Контакты</a></li>
					</ul>
				</div>
				<div class="header-right-btns">
					<a class="get-quote" href="#" title="" data-toggle="modal" data-target="#exampleModal">
						<i class="icon-help font-25"></i>Оставить заявку<i class="flaticon-arrow-pointing-to-right"></i>
					</a>
				</div>
			</nav>
		</div>
	</div>
</header>
<div class="sticky-menu">
	<div class="container">
		<div class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100">
			<div class="logo">
				<a href="index.html" title="Главная">
					<img class="img-fluid lazyload" data-src="images/logo-black.png" alt="Logo" srcset="images/logo-black.png">
				</a>
			</div>
			<nav class="d-inline-flex justify-content-between align-items-center">
				<div class="header-left">
					<ul class="mb-0 list-unstyled d-inline-flex">
						<li><a href="#" title="">Главная</a></li>
						<li><a href="#" title="">Каталог</a></li>
						<li><a href="#" title="">Цены</a></li>
						<li><a href="#" title="">О заводе</a></li>
						<li><a href="#" title="">Как строить</a></li>
						<li><a href="#" title="">Клиентам</a></li>
						<li><a href="#" title="">Доставка</a></li>
						<li><a href="#" title="">Контакты</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>
<div class="rspn-hdr">
	<div class="rspn-mdbr justify-content-between px-3 pt-1 pb-2">	
			<ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
				<li class="d-flex align-items-center font-12 text-white">
					<i class="icon-pin font-14 color-main mr-1"></i>
					|	Челябинск
				</li>
			</ul>
			<a class="d-flex align-items-center" href="tel:88005005774">
				<i class="icon-phone-call font-14 text-white mr-2"></i>
				<span class="font-12 text-white">8 800-500-57-74</span>
			</a>
	</div>
	<div class="lg-mn">
		<div class="logo">
			<a href="#" title="Главная">
				<img class="lazyload" data-src="images/logo-black.png" alt="Logo">
			</a>
		</div>
		div(class="d-flex align-items-center")
			<div class="add-cart position-relative mr-3">
				<a href="#" title="">
					i(class="icon-list-2 position-relative font-24 color-main")
				</a>
				span(class="add-cart__count")
					| 2
			</div>
			<div class="position-relative">
				a(href="tel:88005005774")
					i(class="icon-phone-call font-24 color-main")
			</div>
			<span class="rspn-mnu-btn">
				span
				span
				span
			</span>
	</div>
	<div class="rsnp-mnu">
		<span class="rspn-mnu-cls"><i class="icon-cross"></i></span>
		<div class="col-12 text-center">
			<img  class="lazyload" data-src="images/logo-black.png" alt="">
		</div>
		
		<div class="col-12 text-center phone3">
			<a class="font-18 color-000000" href="tel:8 800 500-57-74">8 800 500-57-74</a>
		</div>
		
		<ul class=" navigation-mobile mb-0 list-unstyled w-100">
			<li class="active">
				<a href="#">
					span(class="wrapper-img")
						i(class="icon-home")
					| Главная
				</a>
			</li>
			-let arrIco = ["icon-construction-1", "icon-price-tag", "icon-construction", "icon-factory", "icon-lightbulb", "icon-fast", "icon-contact"]
			each item, index in ["Каталог", "Цены", "О заводе", "Как строить", "Клиентам", "Доставка", "Контакты"]
				li()
					a(href="#")
						span(class="wrapper-img")
							i(class=arrIco[index])
						= item
		</ul>
		<div class="col-12 text-center mail2">
			<a class="font-18 color-000000 font-normal" href="mailto:">info@mail.ru</a>
		</div>
		<div class="row justify-content-center">
			<div class="col-2 px-2 d-flex justify-content-center">
				<a href="#"><img class="lazyload" data-src="images/telegram.svg"></a>
			</div>
			<div class="col-2 px-2 d-flex justify-content-center">
				<a href="#"><img class="lazyload" data-src="images/whatsapp.svg"></a>
			</div>
			<div class="col-2 px-2 d-flex justify-content-center">
				<a href="#"><img class="lazyload" data-src="images/viber.svg"></a>
			</div>
		</div>
	</div>
</div>