<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Заявка в компанию</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="contact-form text-center w-100" action="#" method="post">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-lg-12">
							<div class="form-group w-100">
								<div class="response w-100"></div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6">
							<label class="d-block">Ваше имя :</label>
							<input class="fname" type="text" name="fname">
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6">
							<label class="d-block">Телефон или e-mail :</label>
							<input class="email" type="email" name="email">
						</div>
						<div class="col-md-12 col-sm-12 col-lg-12">
							<label class="d-block">Сообщение:</label>
							<textarea class="contact_message" name="contact_message"></textarea>
							<button class="thm-btn thm-bg text-uppercase" id="submit" type="button">Отправить<i class="icon-arrow-long-right font-30"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body d-flex flex-column">
				a( class="d-flex align-items-center mb-3 font-14 color-000000" href="#")
					i(class="icon-messenger-1 font-17 color-main mr-2")
					| Написать сообщение
				a( class="d-flex align-items-center mb-3 font-14 color-000000" href="tel:88005005774")
					i(class="icon-phone-1 font-17 color-main mr-2")
					| Позвонить
				a( class="d-flex align-items-center mb-3 font-14 color-000000" href="#")
					i(class="icon-whatsapp-1-1 font-17 color-main mr-2")
					| Написать в WhatsApp
				a( class="d-flex align-items-center mb-3 font-14 color-000000" href="#")
					i(class="icon-viber-3 font-17 color-main mr-2")
					| Написать в Viber
				a( class="d-flex align-items-center mb-3 font-14 color-000000" href="#")
					i(class="icon-vk-4 font-17 color-main mr-2")
					| Написать Вконтакте
				a( class="d-flex align-items-center mb-3 font-14 color-000000" href="#")
					i(class="icon-odnoklassniki-1 font-17 color-main mr-2")
					| Написать в Одноклассники
				a( class="d-flex align-items-center font-14 color-000000" href="#")
					i(class="icon-Vector font-17 color-main mr-2")
					| Написать в Telegram
			</div>
		</div>
	</div>
</div>