.footer-data {
	.widget {
		a {
			&:hover {
				color: #fff!important;
			}
		}
	}
}
.phone2 {
	a {
		&:hover{
			color: #fff!important;
		}
	}
}


.copyright  {
	width: 100%;
	background: #000000;
	padding: 20px 0 15px 0;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
	text-align: center;
}