
.text-white{
    color:#fff;
}
.lin18{
    line-height: 18px;
}
.feat-cap img{
    margin: auto;
}
.serv-wrap h3{
    font-size: 1.45rem;
}
.serv-wrap h4{
    font-size: 1.15rem;
}
.serv-wrap ul{
    margin-left:0;
    padding: 0;
}
.serv-wrap ul li{
    display: inline-block;
    margin-right: 35px;
}
.serv-box {
    display: flex;
    margin-top: 0.95rem;
}
.serv-box img{
    margin-right: 15px;
        -webkit-transition: var(--transition2);
    -ms-transition: var(--transition2);
    -o-transition: var(--transition2);
    transition: var(--transition2);
}
.price1{
    font-size: 1.35rem;
}
.calc h3{
    z-index: 2;
    position: relative
}
.calc{
    background:#E5E5E5;
    padding: 35px 25px;
}
.calc .field-box{
    margin-bottom: 35px;
}
.calc .field-box input{
    background:#fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    height: 40px;
    color: #7a7a7a;
}
.calc .field-box select{
    width: 100%;
    height:40px;
    color: #7a7a7a;
    background:#fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.calcimg{
    z-index: 0;
    margin: auto;
    top: -17%;
    left: 19%;
}
.testi-img:before {
    display:none;    
}
.ssil{
    text-decoration: underline;
}
.zag{
    font-size: 3rem;
}
.tabproekt .nav-tabs .nav-link.active {
    color: #0043EC;
    background-color: #fff;
    border:none;
    border-bottom: 2px solid #0043EC;
   }
.tabproekt .nav-tabs .nav-link:hover {
    color: #0043EC;
    background-color: #fff;
    border:none;
    border-bottom: 2px solid #0043EC;
}
.shop-detail-nav-caro {
    /* position: absolute; */
    /* right: 4.375rem; */
    /* bottom: 0;
    max-width: 100%;
    -webkit-transform: translateY(73%);
    -ms-transform: translateY(73%);
    -o-transform: translateY(73%);
    transform: translateY(73%);
    padding: 3.25rem 0;
    left: 0%; */
}
.shop-detail-imgs {
    position: relative;
    padding-right: 0;
}
.next_obj img{
    display: block;
    margin-top:45px;
    margin-bottom:15px;
}

.view {
    width: 100%;
    height: auto;      
    overflow: hidden;
    position: relative;    
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    /* background: #fff url(../images/bgimg.jpg) no-repeat center center */
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;    
    position: relative;
    font-size: 17px;
    padding: 20px;    
    margin: 20px 0 0 0
}
.view p {    
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 20px;
    text-decoration: underline;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(0,67,236, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.plashka_proj{
    background: #0043EC;
    color: #fff;
    text-align: center;
    padding: 20px;
    min-height: 146px;
}
.plashka_proj h3{
    color:#fff;
}
.plashka_proj p{
    color:#fff;
}

.form3 input{
    height: 45px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    color: #7a7a7a;
    background: #fff;
}
.team-info h3{
    font-weight: 700;
}


.about1{
    display: inline-block;
    width:50%;
    padding-left: 19%;
    float: left;
}
.about2{
    display: inline-block;
    width:50%;
}
.img_muzik{
   top: -121px;
}
.phone2 a{
    color: #fff;
    font-weight: 900;
    font-size: 1.5rem;
}
.widget h3{
    font-weight: 700;
}
.logo img{
    max-width:200px;
}
.add-cart img {
    left: 0px;
    top: 3px;
}
.soc img{
    margin-right: 15px;
    transition: .5s;
    border:4px ;
}

.soc img:hover{
    border:4px solid #fff;
    border-radius:5px;
}
.about-content-wrap .serv-wrap img{
    height: 48px;
}
ul.razm li{
    display: inline-block;
     margin-right: 35px;
}
ul.razm{
    padding: 0
}
.price3{
    font-size: 2rem;
}
.thm-bg2 {
    background: #fff;
    border: 2px solid #0043ec;
    color: #0043ec;
}
.thm-bg2:hover{
    color: #0043ec;
}
.shop-img h3{
    font-size:1.1rem;
}
.kat img{
    max-width:  250px;
}

.shop-box.kat {
    height: 100%;
    margin: 0px;
}
.kat{
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .title-with-shape2:before {   
        height: 3.5rem;
        width: 1.58rem;    
    }
    .about1 {
        display: inline-block;
        width: 50%;
        padding-left: 7%;
        float: left;
    }
    .sec-title {
        position: relative;
        margin-bottom: 0.8125rem;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1199px) {
    
}
@media only screen and (max-width: 767px) {
   .phone3 {
        font-weight: 700;
        font-size: 1.5rem;
        margin: 15px 0 20px 0;
    }
    .mail2{
        font-size: 1.2rem;
        font-weight:700;
        margin: 20px 0;
    }
    .lg-mn .logo{
        width: 45%;
    }
    .lg-mn .logo img{
        max-width: 100%;
    }
    .add-cart img {
        left: 33px;
        top: -23px;
    }
    .phone4{
        width:10%;
    }
    .phone4 img{
        width:100%;
        top: -15px;
    }
    .feat-cap > h1{
        font-size: 1.5rem;
        font-weight:700;
        margin-top: 30px;
    }
    .testi-wrap > h2 {
        text-align: center;
        font-size: 2rem;
    }
    .dir h4{
        font-size:1.1rem;
    }
    .nav-tabs .nav-item {
        margin-bottom: -1px;
        width: 50%;
    }
    .nav-tabs .nav-item ul li{
        font-size:1.2rem;
    }
    .form3 input{
        margin-bottom: 15px;
    }
    .about1{
        width:100%;
        padding: 15px;
    }
    .about2{
        width: 100%;
    }
    .feat-cap-innr > a + a {
        margin-left: 0;
        margin-top: 17px;
    }
}

.shop-detail-tabs {
    padding: 40px 0 0 0;
    border: 0px;
}
.shop-detail-tabs ul.nav-tabs li.nav-item a.nav-link {
    padding: 0px;
    background: none;
    margin-right: 44px;
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    color: #000000;
    border-radius: 0px;
    border-bottom: 1px solid transparent;
}
.shop-detail-tabs ul.nav-tabs li.nav-item a.nav-link:hover {
    color: #000!important;
    background: none;
    border-bottom: 1px solid #000;
}
.shop-detail-tabs ul.nav-tabs li.nav-item a.nav-link.active {
    color: #000;
    font-weight: bold;
    background: none;
    border-bottom: 1px solid #000;
}
header .topbar {
    padding: 10px 0px;
}

.page-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    padding-bottom: 20px;
    position: relative;
}
.page-title:before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: calc(50% - 56px);
    height: 2px;
    width: 116px;
    background: #0043EC;
}
.cart-item {

}
.cart-item__preview {

}
.cart-item__title {
}
.cart-item__title .title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #343434;
    margin-bottom: 8px;
}
.cart-item__title .title:hover {
    color: var(--theme-color);
}
.cart-item__title .content {
    
}
.cart-item__title .content p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.cart-item__title .content ul {
    padding: 0px;
    margin: 0px;
}
.cart-item__title .content ul li{
    list-style: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.cart-item__price {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: var(--theme-color);
}
.cart-item__remove {
    border: 0px;
    padding: 0px;
    background: none;

    font-size: 16px;
    color: #000;
}
.cart-item__remove:hover {
    color: var(--theme-color);
}
.picker-number.picker-number_type-2{
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.picker-number .picker-number__button {
    box-sizing: border-box;

    background: none;
    border: 1px solid transparent;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 100%;
    padding: 0px;
    
    font-family: Gilroy;
    font-size: 18px;
    color:  #000;

    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
   
}
.picker-number .picker-number__button:hover {
    border-color: #000;
}
.picker-number .picker-number__button:focus {
    outline: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.picker-number .picker-number__button:active {
    transform: scale(1.14);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.picker-number__input {
    box-sizing: border-box;

    font-size: 18px;
    height: 100%;


    width: calc(100% - 78px);
    border: 0px;
    padding: 0px;
    margin: 0px;
    background: none;
    border: 1px solid #EDF2F4;
    border-radius: 5px;

    text-align: center;
}
.picker-number__input:focus {
    border: 1px solid #EDF2F4;
}
.picker-number .picker-number__input[type='number'] { -moz-appearance:textfield; }
.picker-number .picker-number__input::-webkit-outer-spin-button,
.picker-number .picker-number__input::-webkit-inner-spin-button { -webkit-appearance: none; }
.cart-rare-wrapper__btn {
    padding-top: 50px;
    border-bottom: 1px solid #EDF2F4;
}
.cart-rare-wrapper__btn button {
    border: 2px solid #7A7A7A;
    padding: 8px 11px;
    background: none;

    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7A7A7A;
    margin-bottom: -1px;
}
.cart-rare {
    opacity: 0.45;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    padding-top: 8px;
    padding-bottom: 30px; 
}
.cart-title-price {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-right: 30px;
}
.cart-all-price {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #0043EC;
}
.contact-form-rare__title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.contact-form-rare input,
.contact-form-rare textarea {
    height: unset;
    border: 0px;
    border-bottom: 1px solid #343434;
    border-radius: 0px;
    padding: 13px 20px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #7A7A7A;
}
.contact-form-rare textarea {
    min-height: 140px;
}
.custom-control.custom-radio {
    padding: 0px;
    display: flex;
    align-items: center;
}
.custom-control.custom-radio .custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}
.custom-control.custom-radio .custom-control-label {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
}
.custom-control.custom-radio .custom-control-label::after {
    border: 1px solid #000000;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    left: 0px;
    top: 4px;
}
.custom-control.custom-radio .custom-control-label::before {
    width: 10px;
    height: 10px;
    background: #0043EC;
    opacity: 0;
    left: 2px;
    top: 6px;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    opacity: 1;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background: none;
}
.contact-form-rare .btn-submit {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 40px 15px 40px;
}





.font-13 {
    font-size: 13px!important;
    line-height: 15px!important;
}
.font-18 {
    font-size: 18px!important;
    line-height: 22px!important;
}
.font-36 {
    font-size: 36px!important;
    line-height: 44px!important;
}
.pt-10-lg-100 {
    padding-top: 10px;
}
@media (min-width: 992px) {
    .pt-10-lg-100 {
        padding-top: 100px;
    }
}