extends base-inner.pug
block content
	include components/breadcrums.pug

	<section class="pb-5 mb-lg-4">
		<div class="container">
			<div class="row pt-50">
				<div class="col-lg-4 d-flex align-items-start">
					<div class="sec-title w-100 d-flex align-items-start">
						<img class="mr-5 lazyload" data-src="images/title-shp1.png" alt="img">
						<div class="sec-title-inner d-inline-block">
							<span class="thm-clr d-block font-18"><b>о нас</b></span>
							<h3 class="mb-0 font-36 color-000000">О нашем<br>заводе</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="row pb-5">
						<div class="col-12">
							<h1 class="mb-0 color-000000">Мы создаем надежный строительный материал</h1>
						</div>
						<div class="col-12 ">
							<div class="price3 thm-clr"><strong>ПОРАБЛОК</strong></div>
						</div>
						<div class="col-12 pt-3">
							<p class="color-000000 font-20">Завод «ПОРАБЛОК» - одно из самых современных предприятий по производству стеновых блоков из автоклавного газобетона. Вся продукция производится по немецкой технологии из отборного сырья. Завод оснащен автоматизированными линиями производства немецкой фирмы WEHRHAHN GmbH,Германия, г. Дельменхорст.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-6 d-flex align-items-start mb-4">
							<i class="icon-shipped font-70 color-main"></i>
							<div class="pl-3">
								<b class="block font-18 color-000000 mb-1">Доставка за 24 часа</b>
								<span class="d-block color-000000 font-18">Мы осуществляем быструю отгрузку товара</span>
							</div>
						</div>
						<div class="ol-12 col-lg-6 d-flex align-items-start mb-4">
							<i class="icon-wallet font-70 color-main"></i>
							<div class="pl-3">
								<b class="block font-18 color-000000 mb-1">Гарантия лучшей цены</b>
								<span class="d-block color-000000 font-18">Мы гарантируем лучшую цену на строительный блок</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-5 pb-5">
		<div class="container pt-4">
			<div class="row">
				<div class="col-12 d-flex justify-content-center pb-5">
					<h2 class="page-title">Наши сертификаты</h2>
				</div>
				<div class="col-12">
					<div class="slick-doc-file position-relative">
						<div>
							<a data-fancybox="gallery" href="images/file-doc.png"><img src="images/file-doc.png" alt="img"></a>
						</div>
						<div>
							<a data-fancybox="gallery" href="images/file-doc.png"><img src="images/file-doc.png" alt="img"></a>
						</div>
						<div>
							<a data-fancybox="gallery" href="images/file-doc.png"><img src="images/file-doc.png" alt="img"></a>
						</div>
						<div>
							<a data-fancybox="gallery" href="images/file-doc.png"><img src="images/file-doc.png" alt="img"></a>
						</div>
						<div>
							<a data-fancybox="gallery" href="images/file-doc.png"><img src="images/file-doc.png" alt="img"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pb-5">
		<div class="container pt-4 pb-5">
			<div class="row">
				<div class="col-12 d-flex justify-content-center pb-5">
					<h2 class="page-title">Документация</h2>
				</div>
				<div class="col-12 col-lg-6  d-flex flex-column align-items-start">
					<a class="mb-3 d-flex align-items-center" href="#" download="">
						<img class="mr-4" src="images/pdf-file.svg" alt="img">
						| Протоколы испытаний на радионуклиды
					</a>
					<a class="mb-3 d-flex align-items-center" href="#" download="">
						<img class="mr-4 " src="images/pdf-file.svg" alt="img">
						| Сертификат соответствия на стеновые изделия из ячеистого бетона
					</a>
					<a class="mb-3 d-flex align-items-center" href="#" download="">
						<img class="mr-4" src="images/pdf-file.svg" alt="img">
						| Сертификаты
					</a>
				</div>
				<div class="col-12 col-lg-6  d-flex flex-column align-items-start">
					<a class="mb-3 d-flex align-items-center" href="#" download="">
						<img class="mr-4" src="images/pdf-file.svg" alt="img">
						| Протоколы испытаний на вырыв анкера из ячеистого блока
					</a>
					<a class="mb-3 d-flex align-items-center" href="#" download="">
						<img class="mr-4" src="images/pdf-file.svg" alt="img">
						| Паспорта качества на стеновые изделия из ячеистого бетона
					</a>
				</div>
			</div>
		</div>
	</section>

	include components/area-about.pug
	include components/area-seo-text.pug
	include components/area-request-form.pug