doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		<link rel="preconnect" href="https://fonts.gstatic.com">
		link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.png" type="image/png")
		title Пораблок - продажа газобетонных блоков
	body
		include components/header-area-inner.pug
		block content			
		include components/btn-to-top.pug
		include components/footer-area.pug
		include components/modal-area.pug
		script(src="js/main.min.js")
