extends base-inner.pug
block content
	include components/breadcrums.pug

	<section class="pt-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					h1(class="font-22-36 color-000000 mb-3")
						| Строительство и проектирование домов в Челябинске
					<p class="font-14-18 color-000000">При заказе под ключ, специалисты ТД «Пораблок» выполнят весь необходимый перечень работ.</p>
					<p class="font-14-18 color-000000">Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации новых предложений. Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации форм развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.</p>
				</div>
			</div>
		</div>
	</section>

	include components/area-projects.pug
	include components/area-type-project.pug
	include components/area-about.pug
	include components/area-seo-text.pug
	include components/area-request-form.pug