extends base-inner.pug
block content
	include components/breadcrums.pug

	<section>
		<div class="container">
			<div class="row pt-50">
				<div class="col-12">
					<h1>Смета</h1>
				</div>
			</div>
			<div class="row align-items-center cart-item mb-4">
				<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__preview">
					<a href="#">
						<img class="img-fluid lazyload" data-src="images/cart.png" alt="img">
					</a>
				</div>
				<div class="col-12 col-lg-3 pb-3 pb-lg-0 d-flex flex-column justify-content-start cart-item__title">
					<a href="#" class="title">Блок газобетонный стеновой с пазом B 2.0</a>
					<div class="content d-flex flex-column">
						<ul>
							<li class='d-flex align-items-center'>
								i(class="mr-2 icon-sketch color-main font-18")
								<p class="m-0">625мм x 300мм x 250мм</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__price">
					<span>2 990 ₽/м³</span>
				</div>
				<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center">
					<div class="picker-number picker-number_type-2 picker-number_type-2_hover-1">
						<button class="picker-number__button picker-number__button_dec">-</button>
						<input class="picker-number__input" type="number" value="1" step="1" min="1">
						<button class="picker-number__button picker-number__button_inc">+</button>
					</div>
				</div>
				<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__price">
					<span>29 900 ₽</span>
				</div>
				<div class="col-12 col-lg-1 d-flex justify-content-center ">
					<form action="">
						<button class="cart-item__remove" type="submit">
							i(class="icon-delete font-16")
						</button>
					</form>
				</div>
			</div>
			<div class="row align-items-center cart-item mb-4">
				<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__preview">
					<a href="#">
						<img class="img-fluid lazyload" data-src="images/cart.png" alt="img">
					</a>
				</div>
				<div class="col-12 col-lg-3 pb-3 pb-lg-0 d-flex flex-column justify-content-start cart-item__title">
					<a href="#" class="title">Блок газобетонный стеновой с пазом B 2.0</a>
					<div class="content d-flex flex-column">
						<ul>
							<li class='d-flex align-items-center'>
								i(class="mr-2 icon-sketch color-main font-18")
								<p class="m-0">625мм x 300мм x 250мм</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__price">
					<span>2 990 ₽/м³</span>
				</div>
				<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center">
					<div class="picker-number picker-number_type-2 picker-number_type-2_hover-1">
						<button class="picker-number__button picker-number__button_dec">-</button>
						<input class="picker-number__input" type="number" value="1" step="1" min="1">
						<button class="picker-number__button picker-number__button_inc">+</button>
					</div>
				</div>
				<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__price">
					<span>29 900 ₽</span>
				</div>
				<div class="col-12 col-lg-1 d-flex justify-content-center ">
					<form action="">
						<button class="cart-item__remove" type="submit">
							i(class="icon-delete font-16")
						</button>
					</form>
				</div>
			</div>
		</div>

		<div class="cart-rare-wrapper w-100">
			<div class="container cart-rare">
				<div class="row align-items-center cart-item mb-4">
					<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__preview">
						<a href="#">
							<img class="img-fluid lazyload" data-src="images/cart.png" alt="img">
						</a>
					</div>
					<div class="col-12 col-lg-3 pb-3 pb-lg-0 d-flex flex-column justify-content-start cart-item__title">
						<a href="#" class="title">Блок газобетонный стеновой с пазом B 2.0</a>
					</div>
					<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__price">
						<span>2 990 ₽/м³</span>
					</div>
					<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center">
						<div class="picker-number picker-number_type-2 picker-number_type-2_hover-1">
							<button class="picker-number__button picker-number__button_dec">-</button>
							<input class="picker-number__input" type="number" value="1" step="1" min="1">
							<button class="picker-number__button picker-number__button_inc">+</button>
						</div>
					</div>
					<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__price">
						<span>29 900 ₽</span>
					</div>
					<div class="col-12 col-lg-1 d-flex justify-content-center ">
						<form action="">
							<button class="cart-item__remove" type="submit">
								i(class="icon-delete font-16")
							</button>
						</form>
					</div>
				</div>
				<div class="row align-items-center cart-item mb-4">
					<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__preview">
						<a href="#">
							<img class="img-fluid lazyload" data-src="images/cart.png" alt="img">
						</a>
					</div>
					<div class="col-12 col-lg-3 pb-3 pb-lg-0 d-flex flex-column justify-content-start cart-item__title">
						<a href="#" class="title">Блок газобетонный стеновой с пазом B 2.0</a>
					</div>
					<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__price">
						<span>2 990 ₽/м³</span>
					</div>
					<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center">
						<div class="picker-number picker-number_type-2 picker-number_type-2_hover-1">
							<button class="picker-number__button picker-number__button_dec">-</button>
							<input class="picker-number__input" type="number" value="1" step="1" min="1">
							<button class="picker-number__button picker-number__button_inc">+</button>
						</div>
					</div>
					<div class="col-12 col-lg-2 pb-3 pb-lg-0 d-flex justify-content-center cart-item__price">
						<span>29 900 ₽</span>
					</div>
					<div class="col-12 col-lg-1 d-flex justify-content-center ">
						<form action="">
							<button class="cart-item__remove" type="submit">
								i(class="icon-delete font-16")
							</button>
						</form>
					</div>
				</div>
			</div>

			<div class="container pb-5">
				<div class="row">
					<div class="col-12">
						<form class="cart-rare-wrapper__btn" action="">
							<button class="">Убрать дополнительные позиции</button>
						</form>
					</div>
				</div>
			</div>

			<div class="container pb-5">
				<div class="row pb-5">
					<div class="col-12 d-flex justify-content-center justify-content-lg-end">
						<div>
							<b class="cart-title-price">ИТОГО</b>
							<span class="cart-all-price">52 890 ₽</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section>
		<div class="w-100 pb-100 position-relative">
			<div class="container">
				<div class="row pb-5">
					<div class="col-12">
						<h2 class="font-24 color-000000">
							<b>Заполните необходимые поля для заявки</b>
						</h2>
					</div>
				</div>
				<form class="contact-form contact-form-rare text-center w-100" action="#" method="post" id="email-form">
					<div class="row pb-5 mb-4">
						<div class="col-12 pb-4">
							<h3 class="text-left contact-form-rare__title">Контактные данные:</h3>
						</div>
						<div class="col-md-4">
							<input class="fname" type="text" name="fname" placeholder="Имя">
						</div>
						<div class="col-md-4">
							<input class="phone" type="tel" name="phone" placeholder="Телефон">
						</div>
						<div class="col-md-4">
							<input class="email" type="email" name="email" placeholder="E-mail">
						</div>
					</div>
					<div class="row pb-5 mb-4">
						<div class="col-12 pb-4">
							<h3 class="text-left contact-form-rare__title">Способы доставки:</h3>
						</div>
						<div class="col-md-4">
							<div class="custom-control custom-radio mb-3">
								<input type="radio" name="customRadio1" checked="" id="customRadio1" class="custom-control-input">
								<label class="custom-control-label" for="customRadio1">Доставка на объект</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" name="customRadio1" checked="" id="customRadio2" class="custom-control-input">
								<label class="custom-control-label" for="customRadio2">Доставка на объект</label>
							</div>
						</div>
						<div class="col-md-4">
							<input type="text" name="" placeholder="Город">
							<input type="text" name="" placeholder="Адрес доставки">
						</div>
					</div>
					<div class="row pb-5 mb-4">
						<div class="col-12 pb-4">
							<h3 class="text-left contact-form-rare__title">Способы оплаты:</h3>
						</div>
						<div class="col-md-4">
							<div class="custom-control custom-radio mb-3">
								<input type="radio" name="customRadio2" checked="" id="customRadio3" class="custom-control-input">
								<label class="custom-control-label" for="customRadio3">Наличными при доставке</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" name="customRadio2" checked="" id="customRadio4" class="custom-control-input">
								<label class="custom-control-label" for="customRadio4">Выписать счет для юр. лица</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 d-flex justify-content-center justify-content-lg-end">
							<button class="thm-btn thm-bg  text-uppercase" type="submit">отправить заявку<i class="icon-arrow-long-right font-30"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	include components/area-request-form.pug