extends base-inner.pug
block content
	include components/breadcrums.pug
	<section>
		<div class="container">
			<div class="row">
				div(class="col-12 pt-3 pb-2 py-lg-5")
					<h1 class="mb-0 font-22-36 color-000000">Газобетонные блоки</h1>
				<div class="col-lg-3">
					<div class="position-relative w-100">									
						<div class="calc calc_catalog text-center">
							<h3 class="pb-30 font-22">Калькулятор расчета</h3>
							<div class="row">
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<input type="text" placeholder="Длина стен (м)">
									</div>
								</div>											
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<input type="text" placeholder="Площадь окон (м2)">
									</div>
								</div>
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<input type="text"  placeholder="Высота стен (м)">
									</div>
								</div>											
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">
										<select>
											<option>Толщина блока</option>
											<option>Параметр 1</option>
											<option>Параметр 2</option>
											<option>Параметр 3</option>
										</select>													
									</div>
								</div>
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<select>
											<option>Толщина армирования</option>
											<option>Параметр 1</option>
											<option>Параметр 2</option>
											<option>Параметр 3</option>
										</select>
									</div>
								</div>											
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<select>
											<option>Тип блока</option>
											<option>Параметр 1</option>
											<option>Параметр 2</option>
											<option>Параметр 3</option>
										</select>
									</div>
								</div>
								<div class="col-lg-12 text-center">
									<a href="#" class="thm-btn thm-bg text-uppercase" >Рассчитать<i class="icon-arrow-long-right font-30"></i></a>
								</div>
							</div>
						</div>
					</div>
					<a href="">
						<img data-src="images/bannner.jpg" class="d-none d-sm-block pt-50 lazyload">
					</a>						
				</div>
				<div class="col-lg-9">
					<div class="row pt-50">
						<div class="col-lg-12">
							div(class="catalog-title bg-main-color")
								<h3 class="title">Стеновые блоки</h3>
						</div>
					</div>
					div(class="row")
						-for(let i = 0; i < 6; i++)
							<div class="col-6 col-md-4 col-sm-6 col-lg-4">
								<div class="shop-box w-100">
									<div class="shop-img w-100 position-relative overflow-hidden">
										<img class="img-fluid w-100 lazyload" data-src="images/product.png" alt="Shop Image 1">
										<a href="#">Подробнее</a>
									</div>
									<div class="shop-info w-100">
										<h3 class="title"><a href="#">U-образные газобетонные блоки</a></h3>
										div(class="d-flex justify-content-center")
											<p class="d-flex align-items-center"><i class="icon-sketch font-18 color-main mr-3"></i> 625мм x 250мм x 300мм</p>
										<div class="shop-info-bottom d-flex flex-wrap justify-content-end w-100">	
											<span class="price thm-clr d-flex align-items-center">
												<ins class="font-18 color-main price_now">2 190 ₽/м3</ins>
												<del class="price_old pb-2">2 390 ₽/м3</del>
											</span>
										</div>
									</div>
								</div>
							</div>
					<div class="row pt-5 mt-lg-5">
						<div class="col-lg-12">
							div(class="catalog-title bg-main-color")
								<h3 class="title">Перегородочные блоки</h3>
						</div>
					</div>
					div(class="row")
						-for(let i = 0; i < 6; i++)
							<div class="col-6 col-md-4 col-sm-6 col-lg-4">
								<div class="shop-box w-100">
									<div class="shop-img w-100 position-relative overflow-hidden">
										<img class="img-fluid w-100 lazyload" data-src="images/product.png" alt="Shop Image 1">
										<a href="#">Подробнее</a>
									</div>
									<div class="shop-info w-100">
										<h3 class="title"><a href="#">U-образные газобетонные блоки</a></h3>
										div(class="d-flex justify-content-center")
											<p class="d-flex align-items-center"><i class="icon-sketch font-18 color-main mr-3"></i> 625мм x 250мм x 300мм</p>
										<div class="shop-info-bottom d-flex flex-wrap justify-content-end w-100">	
											<span class="price thm-clr d-flex align-items-center">
												<ins class="font-18 color-main price_now">2 190 ₽/м3</ins>
												<del class="price_old pb-2">2 390 ₽/м3</del>
											</span>
										</div>
									</div>
								</div>
							</div>
				</div>
			</div>
		</div>
	</section>
	include components/area-buy-rare.pug
	include components/area-about.pug
	include components/area-seo-text.pug
	include components/area-request-form.pug