extends base-inner.pug
block content
	include components/breadcrums.pug
	<section>
		<div class="container">
			<div class="row">
				div(class="col-12 pt-3 pb-2 py-lg-5")
					<h1 class="mb-0 font-22-36 color-000000">Газобетонные блоки</h1>
				<div class="col-lg-3">
					<div class="position-relative w-100">									
						<div class="calc calc_catalog text-center">
							<h3 class="pb-30 font-22">Калькулятор расчета</h3>
							<div class="row">
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<input type="text" placeholder="Длина стен (м)">
									</div>
								</div>											
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<input type="text" placeholder="Площадь окон (м2)">
									</div>
								</div>
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<input type="text"  placeholder="Высота стен (м)">
									</div>
								</div>											
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">
										<select>
											<option>Толщина блока</option>
											<option>Параметр 1</option>
											<option>Параметр 2</option>
											<option>Параметр 3</option>
										</select>													
									</div>
								</div>
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<select>
											<option>Толщина армирования</option>
											<option>Параметр 1</option>
											<option>Параметр 2</option>
											<option>Параметр 3</option>
										</select>
									</div>
								</div>											
								<div class="col-12">
									<div class="field-box w-100 mb-3 pb-1">												
										<select>
											<option>Тип блока</option>
											<option>Параметр 1</option>
											<option>Параметр 2</option>
											<option>Параметр 3</option>
										</select>
									</div>
								</div>
								<div class="col-lg-12 text-center">
									<a href="#" class="thm-btn thm-bg text-uppercase" >Рассчитать<i class="icon-arrow-long-right font-30"></i></a>
								</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-lg-9 pt-5 pt-lg-0">
					div(class="shop-wrap w-100 pb-30")
						div(class="row")
							- let catImg = ["images/product3.png", "images/product4.png", "images/product5.png", "images/product6.png", "images/product7.png", "images/product8.png"]
							each item, index in ["Газобетонные блоки", "Кладочные смеси", "Инструменты", "Материалы для армирования", "Перемычки для казобетона", "Грунтовка"]
								<div class="col-6 col-md-4 col-sm-6 col-lg-4 pb-4">
									<div class="shop-box w-100 kat">
										<div class="shop-img w-100 position-relative overflow-hidden">
											div(class="px-3")
												img(class="img-fluid w-100 lazyload" data-src=catImg[index] alt="Shop Image 1")
											<a href="#" title="">Подробнее</a>
											<h3 class="text-center pt-4">
												a( class="font-18 color-000000 text-tr-unset font-weight-normal" href="#" title="")
													= item
											</h3>
										</div>
									</div>
								</div>
				</div>
			</div>
		</div>
	</section>
	include components/area-buy-rare.pug
	include components/area-about.pug
	include components/area-seo-text.pug
	include components/area-request-form.pug