extends base-inner.pug
block content
	include components/breadcrums.pug

	<section>
		<div class="container pb-lg-5">
			<div class="row pt-50 pb-5 mb-lg-5">
				<div class="col-12 pb-5 mb-lg-4">
					<h1 class="font-36 color-000000">Контакты</h1>
				</div>
				<div class="col-12 col-lg-4 pb-4 pb-lg-0">
					<a class="d-flex flex-column align-items-start" href="tel:+73512207257">
						i(class="icon-phone-call color-main font-64 mb-4")
						span(class="font-18 color-000000")
							| +7 (351) 220-72-57
					</a>
				</div>
				<div class="col-12 col-lg-4 pb-4 pb-lg-0">
					<a class="d-flex flex-column align-items-start" href="mailto:chel@gazobeton-blok.ru">
						i(class="icon-mail color-main font-64 mb-4")
						span(class="font-18 color-000000")
							| chel@gazobeton-blok.ru
					</a>
				</div>
				<div class="col-12 col-lg-4 pb-4 pb-lg-0 d-flex flex-column align-items-start">
					i(class="icon-location-pin color-main font-64 mb-4")
					<span class="font-18 color-000000">454008, Россия, Челябинск, Свердловский проспект, 32, офис 102</span>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="w-100 pb-100 position-relative">
			<div class="container">
				<div class="sec-title v2 text-left w-100">
					<div class="sec-title-inner d-inline-block">
						<h2 class="font-24 mb-3 color-000000">
							b()
								| Форма обратной связи
						</h2>
					</div>
				</div>
				<form class="contact-form text-center w-100 contact-form-rare" action="#" method="post" id="email-form">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-lg-12">
							<div class="form-group w-100">
								<div class="response w-100"></div>
							</div>
						</div>
						<div class="col-md-4">
							<input class="fname" type="text" name="fname" placeholder="Имя">
						</div>
						<div class="col-md-4">
							<input class="phone" type="tel" name="phone" placeholder="Телефон">
						</div>
						<div class="col-md-4">
							<input class="email" type="email" name="email" placeholder="E-mail">
						</div>
						<div class="col-12">
							<textarea class="contact_message" name="contact_message" placeholder="Сообщение"></textarea>
							<button class="thm-btn thm-bg text-uppercase" id="submit" type="button">Отправить<i class="icon-arrow-long-right font-30 "></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<section class="container d-block pb-5">
		<div class="row pb-5 mb-5">
			<div class="col-12 pb-5">
				<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2278.158228793397!2d61.38313901616212!3d55.18050208040417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ecc35636c35b%3A0x44e4cc9ce3de390a!2z0L_RgNC-0YHQvy4g0KHQstC10YDQtNC70L7QstGB0LrQuNC5LCAzMiwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA4NA!5e0!3m2!1sru!2sru!4v1614675580780!5m2!1sru!2sru" width="100%" height="445" style="border:0; " allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
	</section>

	include components/area-about.pug
	include components/area-seo-text.pug
	include components/area-request-form.pug