extends base.pug
block content
	<section>
		<div class="w-100 position-relative">
			<div class="feat-wrap style2 position-relative w-100">
				<div class="feat-caro">
					<div class="feat-item text-center">
						<div class="feat-img position-absolute" style="background-image: url(images/slide1.jpg);"></div>
						<div class="container">
							<div class="feat-cap">
								<img class="lazyload" data-src="images/block.png">
								<h1>ГАЗОБЕТОННЫЕ БЛОКИ <br>ПОРАБЛОК В ЧЕЛЯБИНСКЕ</h1>
								p
									| Уникальная технология строительства дома по доступной цене
								<div class="feat-cap-innr">
									<a class="thm-btn thm-bg font-18" href="#" title=""><b>В каталог</b><i class="icon-arrow-long-right font-30"></i></a>
									<a class="video-btn" href="https://www.youtube.com/embed/BQml6wv3Bb4" data-fancybox title="">
										<span class="spinner">
											<i class="icon-play"></i>
										</span>
										| Посмотрите видео <br> о заводе
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	include components/area-calc.pug

	<section>
		<div class="w-100 gray-layer pt-100 pb-60 opc1 overflow-hidden position-relative">
			<div class="fixed-bg zoom-anim back-blend-screen patern-bg gray-bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<img class="lazyload" data-src="images/otziv.png">
					</div>
				</div>
				<div class="testi-wrap position-relative w-100 pt-3">
					<h2 class="mb-0 font-36 color-000000">Отзывы о нашей организации</h2>
					<div class="testi-caro">
						-let arrImg = ["images/otz01.png", "images/otz02.png", "images/otz03.png", ""]
						-let arrName = ["Павел Аристархов", "Кристина С.", "Максим R.", "123"]
						-let arrDate = ["5 февраля 2019", "25 сентября 2019", "10 июля 2019", "123"]
						each item, index in ["Всё норм, быстро привезли блок, цены самые низкие на рынке.", "Замечательная развивающаяся компания", "Очень большой выбор продукции!! Но менеджеры несколько суетливы", "123"]
							div(class="testi-box-wrap")
								div(class="testi-box")
									div(class="testi-img")
										img(class="img-fluid lazyload" data-src=arrImg[index] alt="Testimonial Image")
									div(class="testi-info")
										h3(class="mb-1 font-16 color-000000")
											= arrName[index]
										span(class="d-inline-block text-color3 mb-1")
											-for(let i = 0; i < 5; i++)
												i(class="icon-star mr-1")
											span(class="thm-clr")
												= arrDate[index]
										p(class="mb-0")
											= item
					</div>
				</div>
				<div class="row pt-50">
					<div class="col-lg-12 text-center">
						<a href="#" class="ssil font-16 color-000000">Читать все отзывы</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	include components/area-projects.pug

	include components/area-type-project.pug

	<section class="pt-70">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-4">
					<div class="sec-title title-with-shape w-100 ml-5 ml-lg-0">
						<div class="sec-title-inner d-inline-block">
							<span class="thm-clr d-block">о нас</span>
							<h3 class="mb-0">Наша команда</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row pb-5">
				div(class="col-12")
					div(class="team-slider")
						-teamImg = ["images/team1.jpg", "images/team2.jpg", "images/team3.jpg", "images/team4.jpg"]
						each item,index in ["Екатерина Иванова", "Иван Иванов", "Петр Петров", "Екатерина Иванова"]
							div(class="team-box text-center")
								<div class="team-img position-relative overflow-hidden d-flex justify-content-center">
									img(class="img-fluid" src=teamImg[index] alt="Team Image 1")
								</div>
								<div class="team-info w-100">
									h3(class="mb-0")
										= item
									<span class="d-block">менеджер</span>
								</div>
			</div>
		</div>
	</section>

	include components/area-about.pug
	include components/area-seo-text.pug
	include components/area-request-form.pug