extends base-inner.pug
block content
	include components/breadcrums.pug

	<section>
		<div class="container">
			<div class="row pt-50">
				<div class="col-lg-5 pb-3 pb-lg-0">
					div(class="roduct-slider-preview")
						-for(let i = 0; i < 7; i++)
							<img class="img-fluid" src="images/product2.png">
					div(class="roduct-slider-nav d-none d-lg-block")
						-for(let i = 0; i < 7; i++)
							<img class="img-fluid" src="images/product2.png">
				</div>
				<div class="col-lg-7">
					<div class="row">
						<div class="col-12">
							<h1 class="product-title">Газобетонный стеновой блок</h1>
						</div>
						<div class="col-12">
							<div class="price3 thm-clr font-24"><strong>2 780</strong> ₽/м3</div>
						</div>
					</div>
					<div class="row">
						<div class="col-3 col-lg-2 text pt-30">
							i(class="icon-sketch-1 font-48 color-main")
						</div>
						<div class="col-9 col-lg-10 col-xl-3 pt-30">
							<div class="color-000000"><b>Класс прочности:</b></div>
							<p class="font-16 color-000000">D500</p>
						</div>
						<div class="col-3 col-lg-2 text pt-30">
							i(class="icon-sketch font-48 color-main")
						</div>
						<div class="col-9 col-lg-10 col-xl-5 pt-30">
							<div class="color-000000"><b>Размеры:</b></div>
							<ul class="razm">
								<li class="font-16 color-000000 mr-2">Длина<br>625 мм</li>
								<li class="font-16 color-000000 mr-2">Высота<br>250 мм</li>
								<li class="font-16 color-000000">Ширина<br>300 мм</li>
							</ul>
						</div>
					</div>
					<div class="row pt-20">
						div(class="col-4 col-lg-3")
							<b class="font-16 color-000000">Назначение:</b>
						<div class="col-8 col-lg-9">
							<span class="font-16 color-000000">Для возведения стен в квартире или доме</span>
						</div>							
					</div>
					<div class="row pt-20">
						div(class="col-4 col-lg-3")
							<b class="font-16 color-000000">Доставка:</b>
						<div class="col-8 col-lg-9">
							<span class="font-16 color-000000">Доставка до объекта бесплатно</span>
						</div>							
					</div>
					<div class="row pt-30">
						<div class="col-lg-6 pb-4 pb-lg-0">
							<a href="#" class="thm-btn bg-yellow  text-uppercase pl-3">
								| Узнать цену с доставкой
								<i class="icon-arrow-long-right  font-30"></i>
							</a>
						</div>
						<div class="col-lg-6">
							<a href="#" class="thm-btn thm-btn_blue thm-bg2 text-uppercase">
								| Добавить в смету
								<i class="icon-arrow-long-right font-30 color-main"></i>
							</a>
						</div>							
					</div>
				</div>
			</div>
		

			<div class="shop-detail-tabs mt-50 w-100">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#shop-detail1">Описание</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#shop-detail2">Характеристики</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#shop-detail3">Видео</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="shop-detail1">
						<p class="mb-0">Таким образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации существенных финансовых и административных условий.</p>
						
					</div>
					<div class="tab-pane fade" id="shop-detail2">
						<table class="table  table-striped">
							<tbody>
								<tr>
									<td>Размер</td>
									<td>625 x 250 x 300 мм.</td>
								</tr>
								<tr>
									<td>Количество на поддоне</td>
									<td>21 шт.</td>
								</tr>
								<tr>
									<td>Вес 1 блока</td>
									<td>2 кг.</td>
								</tr>
								<tr>
									<td>Марка по морозостойкости</td>
									<td>R-150</td>
								</tr>
								<tr>
									<td>Вес 1 блока</td>
									<td>2 кг.</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="shop-detail3">
						
					</div>
				</div>
			</div>
			div(class="pt-5 pb-5 mb-lg-5")
				button(class="thm-btn thm-bg text-uppercase mb-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample")
					| Калькулятор теплопроводности стен
					<i class="icon-arrow-long-down font-18 text-white"></i>
				div(class="collapse py-3" id="collapseExample")
					div(class="card card-body")
			div(class="row pt-4")
				<div class="col-12">
					h3(class="font-18-24 text-center text-uppercase color-000000 mb-4")
						| С этим товаром покупают
				</div>
			div(class="row")
				-for(let i = 0; i < 4; i++)
					<div class="col-6 col-md-4 col-sm-6 col-lg-3">
						<div class="shop-box w-100">
							<div class="shop-img w-100 position-relative overflow-hidden">
								<img class="img-fluid w-100 lazyload" data-src="images/product.png" alt="Shop Image 1">
								<a href="#">Подробнее</a>
							</div>
							<div class="shop-info w-100">
								<h3 class="title"><a href="#">U-образные газобетонные блоки</a></h3>
								div(class="d-flex justify-content-center")
									<p class="d-flex align-items-center"><i class="icon-sketch font-18 color-main mr-3"></i> 625мм x 250мм x 300мм</p>
								<div class="shop-info-bottom d-flex flex-wrap justify-content-end w-100">	
									<span class="price thm-clr d-flex align-items-center">
										<ins class="font-18 color-main price_now">2 190 ₽/м3</ins>
										<del class="price_old pb-2">2 390 ₽/м3</del>
									</span>
								</div>
							</div>
						</div>
					</div>
		</div>
	</section>

	include components/area-buy-rare.pug
	include components/area-about.pug
	include components/area-seo-text.pug
	include components/area-request-form.pug