@mixin font-IBMPlexSans {
	font: {
		family: 'IBM Plex Sans', sans-serif;
		style: normal;
		weight: normal;
	}
}



// @import "template/all.min.css";
// @import "template/flaticon.css";
@import "template/animate.min.css";
@import "template/bootstrap.min.css";
@import "template/jquery.fancybox.min.css";
@import "template/perfect-scrollbar.css";
@import "template/slick.css";
@import "template/style.css";
@import "template/responsive.css";
@import "template/color.css";
@import "template/custom.css";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "fonts/_icons";
@import "fonts/_font";
@import "footer/_footer";


.slick-doc-file,
.testi-caro,
.shop-detail-caro,
.tabproekt-slider,
.view-slider,
.team-slider,
.roduct-slider-preview {
	.slick-arrow {
		display: flex;
		justify-content: center;
		align-items: center;

		border: 0px!important;
		top: 50%!important;
		width: 64px;
		height: 64px;
		background: #fff;

		font-size: 24px;
		color: #000!important;
		border-radius: 100%!important;
		&.slick-prev {
			padding-right: 8px;
			left: -64px!important;
			@media (max-width: 1250px) {
				left: 0px!important;
			}
			@media (max-width: 600px) {
				left: -14px!important;
			}
		}
		&.slick-next {
			padding-left: 8px;
			right: -64px!important;
			@media (max-width: 1250px) {
				right: 0px!important;
			}
			@media (max-width: 600px) {
				right: -14px!important;
			}
		}
		&:hover {
			border-radius: 100%!important;
			color: #fff!important;
		}
		@media (max-width: 1250px) {
			width: 36px!important;
			height: 36px!important;
			font-size: 16px;
		}
	}

}
.roduct-slider-nav {
	.slick-slide {
		cursor: pointer;
		opacity: 0.29;
		&.slick-current {
			opacity: 1;
		}
	}
}
.tabproekt-slider {
	.slick-arrow {
		@media (max-width: 991px) {
			top: 32%!important;
		}
		@media (max-width: 600px) {
			top: 18%!important;
		}
	}
}

.social-item {
	&.social-item_border {
		width: 41px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		
		
		.soc-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 31px;
			height: 31px;

			font-size: 21px;
			color: #fff;
			background: #838383;
			&.soc-wrapper_whatsapp {
				background-color: #1BD741;
			}
			&.soc-wrapper_viber {
				background-color: #7D3DAF;
			}
			&.soc-wrapper_telegram {
				background-color: #61A8DE;
			}
			&.soc-wrapper_instagram {
				background: linear-gradient(180deg, #C236C5 0%, #CE318E 34.9%, #E62626 100%);
			}
		}
		&:hover {
			background: #FFFFFF;
			box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
			border-radius: 5px;
		}
	}
}
.social-links {
	display: flex;
	align-items: center;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		&:hover {
			color: #fff!important;
		}
	}
}
.feat-cap {
	h1 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 58px;
		line-height: 70px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 10px;
		@media (max-width: 991px) {
			font-size: 22px;
			line-height: 27px;
		}
	}
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 20px;
		text-align: center;

		color: #FFFFFF;
		@media (max-width: 991px) {
			font-size: 16px;
		line-height: 19px;
		}
	}
}

.video-btn {
	font-style: normal;
	&:hover {
		color: #fff!important;
	}
}
.calc {
	h3 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		color: #000000;
		@media (max-width: 991px) {
			font-size: 22px;
			line-height: 27px;
		}
	}
	.field-box {
		input,
		select {
			font-family: Gilroy;
			font-style: italic;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #7A7A7A;

			padding: 14px 10px;
			height: 44px;
		}
	}
	&.calc_catalog {
		padding: 50px 10px;
		.field-box {
			padding: 0px 20px;
		}
		@media (max-width: 991px) {
			padding: 25px 12px;
		}
	}
}

.about-wrap.style2 .about-desc, 
.about-wrap.style2 .serv-wrap {

}
.about-wrap.style2 .serv-wrap {
	padding-right: 0px;
	.title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #1D3557;
		margin: 0px;
	}
	.serv-box {
		margin-top: 17px;
		i {
			position: unset;
		}
	}
}

.shop-box {
	&:hover {
		.shop-img {
			&::before {
				background: rgba(0, 163, 255, 0.26);
			}
			a {
			}
		}
	}
	.shop-img {
		a {
			background-color: #fff;
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			text-transform: uppercase;
			color: $mainColor
		}
	}
}
.shop-info {
	.title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 23px;
		text-decoration-line: underline;
		text-transform: none;
		color: #343434;
	}
	p {
		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
	}
	.price {
		.price_now {
			font-weight: 900;
			@media (max-width: 991px) {
				font-size: 14px!important;
				line-height: 16px!important;
			}
		}
		.price_old {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			text-decoration-line: line-through;
			color: #7A7A7A;
			@media (max-width: 991px) {
				font-size: 12px!important;
				line-height: 14px!important;
			}
		}
	}
}


.testi-info {
	.thm-clr {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #7A7A7A;
	}
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}
}



.tabproekt {
	.nav-tabs {
		.nav-item {
			margin-right: 60px;
			
			.nav-link{
				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 22px;
				line-height: 26px;
				color: #7A7A7A;
				padding: 0 0 20px 0px;
				border: 0px;
				border-bottom: 4px solid transparent;
				margin-bottom: -2px;
				&.active {
					color: #000;
					border-color: $mainColor;
					&:hover {
						color: #000!important;
						border-color: $mainColor;
					}
				}
				&:hover {
					background: none;
					border-bottom: 4px solid transparent;
				}
			}
			&:last-child {
				margin: 0px;
			}
			@media (max-width: 991px) {
				width: 50%;
				margin: 0px;
			}
		}
		
	}
	.shop-detail-info {
		.stock {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #7A7A7A;
		}
		p {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #7A7A7A;
		}
		.icon-wrapper {
			width: 24px;
			height: 24px;
			background: #EDF2F4;
			display: flex;
			align-items: center;
			justify-content: center;
			i {
				font-size: 14px;
				color: #343434;
			}
		}
		.ssil {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			color: #000000;
			text-decoration: none;
			.text {
				padding-bottom: 1px;
				border-bottom: 1px solid #000;
			}
			&:hover {
				.text {
					border-color: $mainColor;
				}
			}
			.color-main {
				border-color: $mainColor;
			}
		}
	}
	
}


.plashka_proj {
	min-height: 135px;
	margin: 0 35px;
	position: relative;
	z-index: 2;
	.title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #FFFFFF;
	}
	.description {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
	}
}
.view-first a.info{
	border: 0px;
	box-shadow: unset;
	&:hover {
		box-shadow: unset;
		color: #fff!important;
	}
}

.title-with-shape:before {
	background-repeat: no-repeat;
	@media (max-width: 991px) {
		left: -46px;
	}
}
.about_kont .title-with-shape2:before,
.seo-text .title-with-shape:before {
	display: none;
}
.spinner-blue {
	&:hover {
		color: #fff!important;
	}
}
.about2 {
	.post-detail-gallery-video-box>img {
		border-radius: 0px;
	}
}
.area-request-form {
	.getin-touch-wrap {
		overflow: hidden;
		.img_muzik  {
			@media (max-width: 991px) {
				max-width: 230px;
				top: -240px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		@media (max-width: 991px) {
			overflow: unset;
			padding-top: 150px;
		}
	}
}

.breadcrumb {
	.breadcrumb-item {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		&.active {
			color: #000!important;
		}
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
		}
	}
}
ol.breadcrumb li.breadcrumb-item+li.breadcrumb-item {
	padding-left: 10px;
	margin-left: 4px;
}
.catalog-title {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 36px;
	border-bottom: 1px solid #D1D1D1;
	.title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		color: #fff;
		margin: 0px;
		@media (max-width: 991px) {
			font-size: 18px;
			line-height: 20px;
		}
	}
}

.product-title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #1D3557;
	margin-bottom: 22px;
	@media (max-width: 991px) {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 8px;
	}
}
.shop-detail-tabs p {
	color: #000;
	font-size: 16px;
	line-height: 18px;
}

.shop-detail-tabs .table td,
.shop-detail-tabs .table th {
	border: 0px;
	color: #000;
}
.shop-detail-tabs ul.nav-tabs {
	li.nav-item {
		&:not(:first-child) {
			@media (max-width: 991px) {
				display: block;
				margin-left: 0px;
				margin-right: 0px;
			}
		}
		@media (max-width: 991px) {
			margin-bottom: 10px;
		}
	}
	@media (max-width: 991px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
#phoneModal {
	align-items: flex-end;
	.close {
		color: #343434;
		opacity: 1;
	}
	.modal-dialog {
		margin: 0px;
		width: 100%;
		transform: translate(0, 50px);
		.modal-content{
			border: 0px;
			border-radius: 0;
			.modal-header {
				padding: 12px 10px 20px 10px;
				border: 0px;
			}
			.modal-body {
				padding: 0 60px 30px 60px;
			}
		}
	}
}
.modal-open {
	#phoneModal {
		display: flex!important;
		.modal-dialog { 
			transform: unset;
		}
	}
}