header {
	z-index: 1;
}
.sticky-menu {
	z-index: 999;
}
header .menu-wrap {
	nav {
		ul {
			li {
				margin-right: 28px;
				a {
					font-family: Gilroy;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 22px;
					color: #FFFFFF;
					text-transform: none;
					border-bottom: 1px solid transparent;
					@media (max-width: 1200px) {
						// font-size: 15px;
						// line-height: 17px;
					}
				}
				&.active {
					a {
						border-color: #fff;
						&:hover {
							border-color: #fff!important;
							color:  #fff!important;
						}
					}
				}
				&:last-child {
					margin: 0px;
				}
				@media (max-width: 1300px) {
					margin-right: 14px;
				}
				@media (max-width: 1200px) {
					margin-right: 8px;
				}
			}
		}
	}
	.header-right-btns {
		& > a {
			&.get-quote {
				padding: 20px 7px;
				display: flex;
				align-items: center;

				font-family: Gilroy;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #FFFFFF;
			}
		}
	}
}
header.style2 .logo-info-bar-inner {
	padding: 26px 0 19px;
}
.rspn-mdbr {
	background-color: #1D3557;
}
.add-cart__count {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background: #1D3557;

	position: absolute;
	top: -8px;
	righT: -8px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
}
.rspn-mnu-btn {
	width: 32px;
	height: 32px;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: flex-start;
	padding-left: 5px;
	span {
		background: #fff;
		height: 2px;
		border-radius: 10px;
		&:nth-child(1) {
			width: 15px;
			margin-bottom: 3px;
		}
		&:nth-child(2) {
			width: 15px;
			margin-bottom: 3px;
		}
		&:nth-child(3) {
			width: 20px;
		}
	}
}

.rsnp-mnu {
	.navigation-mobile {
		li {
			margin-bottom: 19px;
			a {
				display: flex;
				align-items: center;

				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 19px;
				color: #000000;
				.wrapper-img {
					color: #000;
					width: 24px;
					height: 24px;
					background: none;
					border-radius: 3px;

					display: flex;
					align-items: center;
					justify-content: center;

					font-size: 18px;

					margin-right: 14px;
				}
			}
			&.active{
				a {
					color: $mainColor;
					.wrapper-img {
						color: #fff;
						background: $mainColor;
					}
				}
			}
			&:last-child {
				margin: 0px;
			}
		}
	}
}

// header.style2 .menu-wrap nav {
// 	background-color: rgba(255,255,255,.17);
// }